h1 {
    font-size: 3rem;
    color: #13a8ff;
    font-weight: bolder;
    text-align: center;
    letter-spacing: 1rem;
    margin-top: 1em;
    font-family: "Oswald", sans-serif;
  }
  .line {
    border-bottom: 3px solid #13a8ff;
    margin-top: 2em;
  }
  .container {
    width: 55%;
    margin: 0 auto;
  }
  input {
    padding: 0.6em 1em;
    border-radius: 0.3em;
    width: 25em;
  }
  label {
    font-size: 1.1rem;
    font-weight: bold;
    font-family: "Ubuntu", sans-serif;
    
  }
  form{
    margin-top: 2.5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.form-rows{
    display: grid;
    gap: 1em;
}
.btn {
    background-color: rgb(46, 209, 24);
    color: white;
    cursor: pointer;
    padding: 0.2em 1em;
    font-size: 1.1rem;
    border-radius: 0.3em;
    grid-column: 1/span2;
    margin-top: 1.8em;
  }
  .btn:hover{
      background-color: rgb(206, 130, 31);
  }
  